@font-face {
	font-family: Modak-Regular;
	src: url(Modak/Modak-Regular.ttf);
}

@font-face {
	font-family: Comfortaa-VariableFont_wght;
	src: url(Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
	font-family: Comfortaa-Bold;
	src: url(Comfortaa/static/Comfortaa-Bold.ttf);
}